@page "/About"  
@using Chirp.Core.DTOs
@model Chirp.Web.Pages.AboutModel

@{
    ViewData["Title"] = "About Me";
    Layout = "Shared/_Layout";
}

<div class = "aboutMe-page">
    <h2>About me</h2>

    <div class = "aboutMe-info">
        <p><strong>Userame:</strong> @Model.DisplayName </p>
        <p><strong>Email:</strong> @Model.Email </p>
        <p><strong>Following:</strong> @Model.UserInfo.FollowingCount </p>
        <p><strong>Followers:</strong> @Model.UserInfo.FollowerCount </p>
        <p><strong>Total cheeps:</strong> @Model.UserInfo.CheepCount </p>
    </div>

    <form method = "post" asp-page-handler= "ForgetMe" onsubmit = "return confirmForgetMe();"> 
        <button type = "submit" class "btn btn-danger">
            Forget this account
        </button>
        <div class = "text-muted small mt-1"> Removes your profile and data. </div>
    </form>

    @section Scripts {
        <script>
            function confirmForgetMe() {
                return confirm ("Are you sure you want to forget this account?")
            }
        </script>
    }

    <section class = "aboutMe-cheeps">
        <h3>My Cheeps</h3>
        @if (Model.Cheeps != null && Model.Cheeps.Count > 0)
        {
            <ul class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <p>@cheep.Message</p>
                        <small>Posted on: @cheep.Timestamp</small>
                    </li>
                }
            </ul>

            <div class="pagination">
                @if (Model.HasPreviousPage)
                {
                    <a href="/About?page=@(Model.CurrentPage - 1)">« Previous</a>
                }
                <span>Page @Model.CurrentPage</span>
                @if (Model.HasNextPage)
                {
                    <a href="/About?page=@(Model.CurrentPage + 1)">Next »</a>
                }
            </div>
        }
        else
        {
            <p>You have not posted any cheeps yet. Try to post one!</p>
        }

    </section>

</div>        
